header img {
    width: 90px;
    border-radius: 40%;
}

header h1 {
    font-size: 40px;
}

header {
    background-color: #572565 ;
    border-radius: 20px;
}

nav {
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    background-color: #B9848C;
    height: 60px;
    border-radius: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

.div1 {
    display: flex;
}

nav a:hover {
    color: #02315E;
}

.atract {
    display: flex;
    justify-content: space-around;
}

body {
    background-color: #2F70AF;
}

.a1 {
    background-color: #e3dae5;
    width: 300px;
    height: 400px;
    font-size: 15px;
    border-radius: 30px;
    margin-top: 20px;
}

.pa1 {
    font-size: 25px;
}

.a1 img {
    width: 300px;
    border-radius: 30px;
}

.a2 {
    background-color: #e3dae5;
    width: 300px;
    height: 400px;
    font-size: 15px;
    border-radius: 30px;
    margin-top: 20px;
}

.a2 img {
    width: 300px;
    border-radius: 30px;
}

.a3 {
    background-color: #e3dae5;
    width: 300px;
    height: 400px;
    font-size: 15px;
    border-radius: 30px;
    margin-top: 20px;
}

.a3 img {
    width: 300px;
    border-radius: 30px;
}

.a4 {
    background-color: #e3dae5;
    width: 300px;
    height: 400px;
    font-size: 15px;
    border-radius: 30px;
    margin-top: 20px;
}

.a4 img {
    width: 300px;
    border-radius: 30px;
}

.a5 {
    background-color: #e3dae5;
    width: 300px;
    height: 400px;
    font-size: 15px;
    border-radius: 30px;
    margin-top: 30px;
}

.a5 img {
    width: 300px;
    border-radius: 30px;
}

.a6 {
    background-color: #e3dae5;
    width: 300px;
    height: 400px;
    font-size: 15px;
    border-radius: 30px;
    margin-top: 30px;
}

.a6 img {
    width: 300px;
    border-radius: 30px;
}

.a7 {
    background-color: #e3dae5;
    width: 300px;
    height: 400px;
    font-size: 15px;
    border-radius: 30px;
    margin-top: 30px;
}

.a7 img {
    width: 300px;
    border-radius: 30px;
}

.a8 {
    background-color: #e3dae5;
    width: 300px;
    height: 400px;
    font-size: 15px;
    border-radius: 30px;
    margin-top: 30px;
}

.a8 img {
    width: 300px;
    border-radius: 30px;
}

.dada {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
